<li id="comment-<%=comments._id%>">  
    <p>
    <% if (locals.user && (locals.user.id==comments.user.id || locals.user.id==post.user._id )){ %>
        
        <small>
            <a class='delete-comment-button' href="/comments/destroy/<%=comments._id%>">X</a>
        </small>
    <%}%>  
    <%=comments.content%>
    <br>
    <%=comments.user.name%>
    <br>
    <small>
        <%if (locals.user){%>
            <a class='like-button' data-likes="<%=comments.likes.length%>" href="/likes/toggle?id=<%=comments._id%>&type=Comment">
                <%=comments.likes.length%> Likes
            </a>
            <%}else{%>
                <%=comments.likes.length%>
                <%}%>
    </small> 
    </p>
</li>