<li id="post-<%=post._id%>">
    <p>
        <% if (locals.user && locals.user.id==post.user.id){ %>
        <small>
            <a class="delete-post-button" href="/post/destroy/<%=post.id%>">X</a>
        </small>
        <%}%>
        <%= post.content %>
        <br>
        <%= post.user.name %>
        <br>
        <small>
            <%if (locals.user){%>
                <a class='like-button' data-likes="<%=post.likes.length%>" href="/likes/toggle?id=<%=post._id%>&type=Post">
                    <%=post.likes.length%> Likes
                </a>
                <%}else{%>
                    <%=post.likes.length%>
                    <%}%>
        </small>
    </p>      
    <div class="post-comment">
        <% if(locals.user) { %>
            <form id="post-<%=post._id%>-comment-container" action="/comments/create-comment" method="post">
                <input type="text" name="content" placeholder="Type comment">
                <input type="hidden" name='post' value="<%=post._id%>">
                <input type="submit" value="Add comment">
            </form>
        <%}%>
        <div class='show-post-comment'>
            <ul id="post-commentsof-<%=post._id%>">
                <% for(comments of post.comment) { %>
                    <%- include('_comment') -%>
                <%}%>
            </ul>
        </div>
    </div>              
</li>