

<h1>SOCIAL MEDIA APP HAI YEH APNI</h1>
<p><%=user.name%></p>
<p><%=user.email%></p>

<section  id='post'>
    <h4>Posts</h4>
    <form action="/post/create-post" class='new_post_via_form' method="post">
        <textarea name="content" placeholder="Type Here" cols="30" rows="3"></textarea>
        <input type="submit" value="POST">
    </form>

    <div class="post-list-container">
        <ul>
            
            <%  for(post of posts) {%>
                <li>
                    <p>
                        <% if (locals.user && locals.user.id==post.user.id){ %>
                        <small>
                            <a href="/post/destroy/<%=post.id%>">X</a>
                        </small>
                        <%}%>
                        <%= post.content %>
                        <br>
                        <%= post.user.name %>
                    </p>      
                    <div class="post-comment-container">
                        <% if(locals.user) { %>

                            <form action="/comments/create-comment" method="post">
                                <input type="text" name="content" placeholder="Type comment">
                                <input type="hidden" name='post' value="<%=post._id%>">
                                <input type="submit" value="Add comment">
                            </form>

                            <%}%>
                            <div class='show-post-comment'>
                                <ul id="post-commentsof-<%=post._id%>">
                                    <% for(comments of post.comment) { %>

                                        <p>
                                            <li>                                               
                                                <%=comments.content%>
                                                <br>
                                                <%=comments.user.name%> 
                                            </li>
                                        </p>

                                        <%}%>
                                </ul>
                            </div>

                    </div>              
                </li>
                
                <%}%>
        </ul>
    </div>
</section>